.containerCard{
    position: absolute;
    top:0;
    left:0;
    touch-action: none;
}

.mainContainer{
    background-color: rgb(246,240,234);
    color: black;
    position : absolute;
    top:0;
    left:70%;
    height:100dvh;
    width:30%;
    animation-duration: 0.7s;
    animation-name: forMain;
    min-height: -webkit-fill-available;

}

@keyframes forMain {
    from {left:100%;}
    to {left:70%}
}

.sail{
    background-color: rgb(0, 0, 0, 0.8);
    position : absolute;
    top:0;
    left:0;
    height:100vh;
    width:70%;
    opacity: 1;
    animation-name: forSail;
    animation-duration: 0.7s;
}

@keyframes forSail {
    from {width: 100%; opacity: 0}
    to {width: 70%; opacity: 1}
}

.crossDiv{
    margin:50px 50px 0 0;
    text-align: right;
    cursor: pointer;
}

.titleCard{
    font-size: min(8vw, 48px);
    font-weight: 600;
    width: 50px;
    margin: 0 0 40px 70px ;
}

.buttonDiv{
    padding-top: 30px;
    margin: 50px;
    text-align: center;
}

.sub{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 24px;
}

.sub>p:first-child{
    color: rgb(61, 201, 173);
}

.noSub{
    display: none;
}

.checkOut{
    padding: 20px 0px;
    width: 100%;
    background-color: rgb(61, 201, 173);
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 6px;
    color: white;
}

.noCheckOut {
    text-decoration:none;
    color: black;
    padding: 20px 0;
    background-color: rgb(246,240,234);
    cursor: pointer;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    border: none;
}

.containerOfAllArticles{
    position:relative;
}

.center{
    display:flex;
    flex-direction: column;
    gap: 30px;
    height:clamp(300px, 45vh, 490px);
    overflow-y:scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.noCenter{
    margin-top:200px;
}

.center::-webkit-scrollbar { 
    display: none;
}

.total{
    margin: 20px 0 0 70px ;
    font-size: 14px;
    font-weight: 600;
}

.center>div{
    display: flex;
    justify-content: center;
}

.bag>img{
    height: 80px;
    width: auto;
    border-radius: 10px;
}

.bag{
    display:flex;
    font-size: 12px;
    gap: 40px;
    align-items: center;
}

.titleBag{
    font-size: 14px;
    font-weight: 600;
}

.descriptionBag{
    font-size: 11px;
    color: grey;
}

.principalBag{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 150px;
}

.priceBag{
 font-weight: 600;
 font-size: 14px;
}


.quantityItem{
    display: flex;
    border-radius: 30px;
    padding: 3px 7px;
    background-color: rgb(61, 201, 173);
    color: white;
    font-weight: 700;
    font-size: 12px;
    margin-top: 10px;
    cursor: pointer;

}

.forAbsolute{
    position: relative;
    display: flex;
}

.less{
    padding-right: 10px;
}

.plus{
    padding-left: 10px;
}

.absolPlus, .absolLess{
    position: absolute;
    width: 22px;
    height: 21px;
    top:-3px;
}

.absolPlus{
    left:2px;
}

.absolLess{
    left:-7px;
}

.rightSide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    width:60px
}

.rightSide>img{
    padding: 5px;
    cursor: pointer;
}

@media (max-width: 650px) {
    .mainContainer{
        left:0;
        width: 100vw; 
        animation-name:none;
    }

    .sail{
        display: none;
    }

    .bag{
        margin:0;
        gap:1rem;
        justify-content: center;
    }

    .buttonDiv{
        margin-top: 0;
    }

    .center{
        max-height: 300px;
    }

    .titleCard{
        margin-bottom: 35px;
    }

    .crossDiv{
        margin-top: 30px;
    }
}

@media (min-width:900px) and (max-width: 1300px) {
    .mainContainer{
        left:50%;
        width:50%;
    }

    .sail{
        width:50%;
    }

    .mainContainer, .sail{
        animation-duration: 1.2s;
    }

    @keyframes forMain {
        from {left:100%;}
        to {left:50%}
    }

    @keyframes forSail {
        from {width: 100%}
        to {width: 50%}
    }
}


@media (min-width:650px) and (max-width: 900px) {
    .mainContainer{
        left:35%;
        width:65%;
    }

    .sail{
        width:35%;
    }

    .mainContainer, .sail{
        animation-duration: 1.2s;
    }

    @keyframes forMain {
        from {left:100%;}
        to {left:35%}
    }

    @keyframes forSail {
        from {width: 100%}
        to {width: 35%}
    }
}