@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600;700;800;900&display=swap');
* {
    padding:0;
    margin:0;
}

html{
    overflow: auto;
}

body{
    position:absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    font-family: 'Montserrat', sans-serif;
    min-height: -webkit-fill-available;
}

ul{
    list-style-type:none;
}

h1, h2, h3{
    font-weight: normal;
    font-size:1em;
}

a {
    all: unset;
}


@media (max-width: 500px) {
 body{
    position:unset
 }
}

